
header {
    position: relative;
    background-color: #ffffaa;
    padding: 5px;
    margin: 0px 0px 10px 0px;
}

nav {
    float: left;
    background-color: #eeeeee;
    padding: 5px;
    width: 150px;
}

article {
    float: right;
    width: 600px;
    padding: 10px;
    background-color: #eeeeff;
}